body {
	margin: 0;
}

.wrap {
	width: 100%;
	height: 200px;
	background: #fff298;
	margin-bottom: 20px;
}

.item {
	width: 100px;
	height: 50px;
	background: #ff656c;
}

.wrap-example-1 {
    position: relative;
}

.item-example-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap-example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
